@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$primary_color: #f4572f;
$status_font: Poppins;
$player_font: Nunito Sans;