@import '../colors';

.lrc-navbar {
  display: flex;
  align-items: center;
  min-height: 46px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  background-color: $primary_color;
  .lrc__status {
    display: inherit;
    align-items: inherit;
    justify-content: space-evenly;
    max-width: 134px;
    width: 100%;
    border-right: 2px solid black;
    min-height: inherit;
    .text {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      font-family: $status_font;
      color: black;
    }
    .icon {
      height: 23px;
      width: 23px;
    }
  }
  .lrc__playcontent {
    min-height: inherit;
    // max-width: 1216px;
    width: 100%;
    // min-height: inherit;
    display: inherit;
    height: 100%;
    align-items: inherit;
    // justify-content: space-evenly;
    border-right: 2px solid black;

    .main__logo {
      width: 42px;
      height: 35px;
      margin-left: 14.5px;
      margin-right: 16px;
    }
    .media__logo {
      width: 14px;
      height: 16px;
      cursor: pointer;
      margin-right: 10px;
    }
    .title__player {
      font-family: $player_font;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      color: black;
    }
  }
  .lrc__toolbar {
    display: inherit;
    align-items: inherit;
    min-height: inherit;
    .tool {
      display: inherit;
      align-items: inherit;
      min-height: inherit;
      justify-content: center;
      min-width: 43px;
      .__icon {
        width: 23px;
        height: 22px;
      }
    }
    #search {
      border-right: 2px solid black;
    }
  }
  .navbar__player {
    display: none;
  }
}
