<div class="lrc-soon">
    <!-- <div class="proxx__image spin">
        <img src="assets/images/proxprox.svg" style="width: 380px; height: 380px;">
        <div class="centerer">
            <img src="assets/images/mundoo.svg" class="world__image breathe">
        </div>
    </div> -->
    <!-- <img src="assets/images/proxprox.svg" class="proxx__image"> -->
    <img src="assets/images/proxprox.svg" style="width: 380px; height: 380px;" class="spin">
    <img src="assets/images/mundoo.svg" class="world__image breathe">
</div>